@use "../abstracts" as *;
@use "./fonts" as *;

@layer components {
  body {
    font-family: "Advent Pro", sans-serif;
    @apply text-siletaBlack;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  a {
    letter-spacing: 0.0275em;
  }

  h1 {
    @apply text-siletaPageheading font-medium text-center;
  }

  h2 {
    @apply text-siletaMedium font-medium mb-4;
  }

  h3 {
    @apply text-siletaXXL font-bold text-siletaGreen;
  }

  h4 {
    @apply text-siletaXL font-semibold;
  }

  p,
  li,
  h5 {
    @apply text-siletaBody;
    text-align: center;
  }

  a:hover {
    @apply text-siletaGreen;
  }

  .page-width {
    padding: 2rem;
  }
}
