@use "../abstracts" as *;
@use "../base" as *;
@use "../components" as *;

@layer utilities {
  .company {
    &__images {
      margin-top: 3rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      column-gap: 2rem;
      @include mqMedium {
        width: 40rem;
      }
      @include mqMedium {
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
      }

      img {
        @apply w-96;
        margin: 0 auto;
      }
      @include mqMedium {
        &-2 {
          height: 252px;
          object-fit: cover;
        }
      }
    }
  }
}
