div.w-full.bg-siletaLightgreen.flex.flex-col.py-8.items-center
    div.flex.flex-col.items-center
        h2.underline.underline-offset-4 Navigation 
        ul
        each i, n in navList 
            a.py-2.px-16(href= i)
                li.text-siletaMedium.list-none= n
    div(class="w-1/4 h-px bg-siletaBlack my-6")
    div.flex.flex-col.items-center
        h2.underline.underline-offset-4 Contact
        p.text-siletaMedium Tel:
        a.text-siletaMedium.py-2.px-16(href="tel:+27124358002") +27 12 435 8002
        p.mt-8.text-siletaMedium Email:
        button.text-siletaMedium#showEmail(onclick="showEmail()") <em>Show email</em>