header
    nav.flex.flex-col.items-center.gap-2
        a(href="index.pug") 
            img.w-96.py-6(src="assets/images/logo.png", alt="Sileta Engineers Logo")
        button.bg-gray-200.w-full#navButton(onclick="mobileNav()")
            img.mx-auto.py-2(src="assets/images/icons/menu.svg", alt="Menu icon")
        div.absolute.w-full.bg-white.shadow-md.hidden#mobileNav
            ul
            each i, n in navList
                a.py-4.px-16(href= i)
                    li.list-none.text-siletaMedium.text-center.mb-2= n
        
