// Head title
- const busName = 'Sileta Engineers'

// Navigation
-
    const navList = {
        Home: "index.pug",
        Company: "company.pug",
        Services: "services.pug",
        Portfolio: "portfolio.pug",
        Contact: "contact.pug",
    };