nav
    div.w-full.bg-siletaLightgreen.flex.flex-col.py-8.mt-12.items-center(class="md:flex-row md:justify-around xl:gap-x-16 xl:items-start xl:px-48  xl:justify-start")
        div.flex.flex-col.items-center(class="xl:items-start")
            h2.underline.underline-offset-4 Navigation 
            ul
            each link, title in navList 
                li.list-none.mt-4(class="xl:mt-0")
                    a.py-2.px-16.text-siletaMedium(href= link)(class="xl:py-0 xl:px-0 xl:text-siletaBody")= title
        div.line-25.my-6(class="md:hidden")
        ul.flex.flex-col.items-center.footer-translate(class="xl:items-start")
            li
                h2.underline.underline-offset-4(class="xl:text-left") Contact
            li.mt-4
                p.text-siletaMedium(class="xl:text-siletaBody") Tel:
            li.mt-2
                a.text-siletaMedium.py-2.px-16(href="tel:+27136631328")(class="xl:py-0 xl:px-0 xl:text-siletaBody") +27 13 663 1328
            li.mt-8
                p.text-siletaMedium(class="xl:text-siletaBody") Email:
            li.mt-2
                button.text-siletaMedium#showEmail(onclick="showEmail()" class="hover:text-siletaGreen xl:text-siletaBody") <em>Show email</em>
div.py-4.flex.gap-2.justify-center
    h3.text-siletaBody.font-normal © Sileta Engineers
    p |
    a.text-siletaBody.text-blue-500(href="http://www.sileta.co.za/") www.sileta.co.za