header
    div.hidden.top-header(class="xl:flex xl:gap-4 xl:py-2 xl:items-center xl:justify-end xl:pr-24")
        div.flex.gap-2.items-center
            img.h-4(src="../assets/images/icons/email-grey.svg", alt="Phone call icon")
            button#showEmailHeader(onclick="showEmailHeader()")
                em Show Email
        div.flex.gap-2.items-center
            img.h-4(src="../assets/images/icons/phone-grey.svg", alt="Phone call icon")
            a(href="tel:+27136631328") +27 13 663 1328
    nav.header.flex.flex-col.items-center.gap-2
        a(href="index.pug") 
            img.w-80.py-6.px-4(class="md:w-96" src="../assets/images/logo.png?width=576", alt="Sileta Engineers Logo")
        button.bg-siletaLightgreen.w-full#navButton(class="xl:hidden" onclick="mobileNav()")
            img.mx-auto.py-2(src="../assets/images/icons/menu.svg", alt="Menu icon")
        div.absolute.w-full.bg-white.shadow-md.hidden#mobileNav
            ul
            each link, title in navList
                li.list-none.my-8
                    a.text-siletaMedium.py-4.px-16(href= link)= title
        div(class="hidden xl:block")
            ul.desktop-list
                li 
                    a(href="index.pug") Home
                li 
                    a(href="company.pug") Company
                li 
                    a(href="services.pug") Services
                li 
                    a(href="portfolio.pug") Portfolio 
                li 
                    a(href="contact.pug") Contact

        
